@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-nav {
  width: 100%;
  height: auto;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  padding: 18px 0px;
  z-index: 5;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  margin: 0 30px;
}

.nav-margin {
  font-size: 17px;
  font-weight: bold;
  margin: 0 30px;
}

.dropdown-color {
  font-size: 18px;
  font-weight: bold;
  color: #D4AF37;
}

footer {
  background-color: #f8f9fa;
  margin: 0;
  z-index: 5;
}
footer .conteiner {
  text-align: center;
}
footer p {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding-top: 20px;
}
footer .imagenes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
footer img {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
}

.hero__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/messifoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.hero__titulo {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.hero__parrafo {
  width: 60%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.galeria__container {
  display: grid;
}
.galeria__titulo {
  width: 100%;
  height: auto;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  margin: 40px auto;
}
.galeria__imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px 40px;
  margin: 0 auto;
  margin-bottom: 100px;
  transition: all 0.9s;
}
.galeria__foto {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.galeria__foto:hover {
  transform: scale(1.05);
  transition-duration: 0.8s;
  box-shadow: 0 0 0 5px #D4AF37;
}

.hero--barcelona {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/messihome.jpg);
}
.hero--titulo {
  width: 100%;
  height: auto;
  font-size: 50px;
  font-weight: 200;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
}

.titulos__barcelona {
  display: none;
}

.card__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 100px;
}
.card__textos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  text-align: center;
  margin: 0 50px;
}
.card__titulo {
  font-size: 40px;
  font-weight: bold;
  color: #D4AF37;
}
.card__parrafo {
  font-size: 18px;
  font-weight: bold;
}
.card__img {
  width: 100%;
  height: 400px;
  background-image: url(../imagenes/messi.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 50px;
}
.card--barca {
  background-color: rgb(52, 44, 87);
}
.card--parrafo-blanco {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.card--barca-partidos-img {
  background-image: url(../imagenes/crack.png);
}
.card--barca-goles-img {
  background-image: url(../imagenes/messigoles.png);
}

.hero--psg {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/messimenupsg3.jpg);
}

.card--psg-titulos-img {
  background-image: url(../imagenes/messititulospsg.png);
}
.card--psg-partidos-img {
  background-image: url(../imagenes/partidosmessipsg.png);
}
.card--psg {
  background-color: rgb(52, 44, 87);
}
.card--psg-goles-img {
  background-image: url(../imagenes/messigolespsg.jpg);
}

.hero--seleccion {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/messiseleccionmenu.png);
}

.card--seleccion-titulos-img {
  background-image: url(../imagenes/messibesocopa.png);
}
.card--seleccion-partidos-img {
  background-image: url(../imagenes/lionel-messi-copa-mundial-fifa_3840x2160_xtrafondos.com.jpg);
}
.card--seleccion {
  background-color: rgb(52, 44, 87);
}
.card--seleccion-goles-img {
  background-image: url(../imagenes/messicopamundo.png);
}

.formulario {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/menu-contacto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.form {
  width: 90%;
  height: auto;
  position: relative;
  top: 150px;
  background-color: #fff;
  margin: auto;
  max-width: 400px;
  border-radius: 1em;
  padding: 3em 1.5em;
}
.form__container {
  width: 100%;
  height: auto;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-auto-columns: 100%;
}
.form__tittle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.4rem;
}
.form__input {
  font-size: 16px;
  font-weight: bold;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}
.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}
.form__cta {
  font-size: 16px;
  font-weight: bold;
  background-color: #089FE0;
  color: #fff;
  border: none;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 1s all;
}
.form__cta:hover {
  background-color: #4fbceb;
  transform: scale(1.04);
}

@media (max-width: 760px) {
  .hero__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/messifoto.jpg);
    background-size: cover;
    background-position: center center;
  }
  .hero__titulo {
    width: 30%;
    height: auto;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    margin: 30px 0;
  }
  .hero__parrafo {
    width: 60%;
    height: auto;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
  }
  .galeria__titulo {
    font-size: 25px;
    font-weight: 200;
    margin: 20px auto;
  }
  .galeria__imagenes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 20px;
    margin-bottom: 50px;
  }
  .galeria__foto {
    width: 250px;
    height: 200px;
  }
  .galeria__foto:hover {
    transform: scale(1.02);
    transition-duration: 0.8s;
    box-shadow: 0 0 0 3px #D4AF37;
  }
  .hero--barcelona {
    width: auto;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/escudobarca.jpg);
    background-position: center center;
  }
  .hero--titulo {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 200;
    font-family: "IBM Plex Mono", monospace;
  }
  .card__container {
    padding: 30px;
  }
  .card__textos {
    width: 100%;
    height: auto;
    margin: 0 20px;
  }
  .card__titulo {
    font-size: 30px;
    font-weight: bold;
    color: #D4AF37;
  }
  .card__parrafo {
    font-size: 15px;
    font-weight: bold;
  }
  .titulos__barcelona {
    font-size: 15px;
    font-weight: bold;
  }
  .card--barca {
    background-color: rgb(52, 44, 87);
  }
  .hero--psg {
    width: auto;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/escudopsg.jpg);
    background-position: center center;
  }
  .card--psg {
    background-color: rgb(52, 44, 87);
  }
  .card--parrafo-blanco {
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
  }
  .hero--seleccion {
    width: auto;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/escudoseleccion.jpg);
    background-position: center center;
  }
  .card--seleccion {
    background-color: rgb(52, 44, 87);
  }
  .card__img {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
