/* HEADER */
.header-nav{
    @include sizes (100%, auto);
    @include font (40px , bold);
    position: fixed;
    padding: 18px 0px;
    z-index: 5;
}

.logo{
    @include font (25px , bold);
    margin: 0 30px;
}
.nav-margin{
    @include font (17px , bold);
    margin: 0 30px;
}

.dropdown-color{ 
    @include font (18px , bold);
    color: $color-primario;
}

/* FOOTER */

footer{
    background-color: $color-footer;
    z-index: 5;

    .conteiner{
        text-align: center;
    }

    p{
        @include font (13px , bold);
        margin: 0;
        padding-top: 20px;
    }
    
    .imagenes{
        @include flexible ( flex , center , row , center);
    }
        
    img{
        @include sizes (30px, 30px);
        margin: 10px 5px;                                                              
    }
}
  /* HERO INDEX */
.hero{
    &__container{
        @include flexible ( flex , center , column, center);
        @include sizes (100%, 100vh);
        text-align: center;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        , url(../imagenes/messifoto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__titulo{
        @include font (50px , bold);
        color: $color-textos;
        margin-bottom: 30px;
            
    }

    &__parrafo{
        @include sizes (60%, auto);
        @include font (20px , bold);
        color: $color-textos;
    }
}
 /* GALERIA */
.galeria{
    &__container {
        display: grid;
    }

    &__titulo{
        @include sizes (100%, auto);
        @include font (40px , bold);
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        margin: 40px auto;   
    }

    &__imagenes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 20px 40px;
        margin: 0 auto;
        margin-bottom: 100px;
        transition: all .9s;
    }

    &__foto{
        @include sizes (300px, 200px);
        object-fit: cover;
    }

    &__foto:hover{
        transform: scale(1.05);
        transition-duration: 0.8s;
        box-shadow:  0 0 0 5px $color-primario;
    }
}
 /* HERO BARCA */
.hero{
    &--barcelona{
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../imagenes/messihome.jpg);
    }

    &--titulo{
        @include sizes (100%, auto);
        @include font (50px , 200);
        align-items: center;
        font-family: 'IBM Plex Mono', monospace;
        }
    }

    .titulos__barcelona{
        @include font (15px , bold);
    }
 /* CARDS BARCA */
    .card{
        &__container{
            @include flexible ( flex , center , row , center);
            padding: 100px ;
        }

        &__textos{
            @include flexible ( flex , center , column , center);
            @include sizes (50%, auto);
            text-align: center;
            margin: 0 50px;
        }

        &__titulo{
            @include font (40px , bold);
            color: $color-primario;
        }

        &__parrafo{
            @include font (18px , bold);
        }
        &__img{
            @include sizes (800px, 400px);
            background-image: url(../imagenes/messi.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin: 0px 50px;
        }

        &--barca{
            background-color: $color-background-card;
        }

        &--parrafo-blanco{
            @include sizes (100%, auto);
            @include font (18px , bold);
            color: $color-textos;
        }

        &--barca-partidos-img{
            background-image: url(../imagenes/crack.png)
        }

        &--barca-goles-img{
            background-image: url(../imagenes/messigoles.png);
        }

        
    }

 /* HERO PSG */
    .hero{
        &--psg{
            background-image: linear-gradient(
             0deg,
             rgba(0,0,0,0.5),
             rgba(0,0,0,0.5)
            ),
          url(../imagenes/messimenupsg3.jpg);
        }
    }
    /* CARDS PSG */
    .card{
        &--psg-titulos-img{
            background-image: url(../imagenes/messititulospsg.png);
        }

        &--psg-partidos-img{
            background-image: url(../imagenes/partidosmessipsg.png);
        }

        &--psg{
            background-color: $color-background-card;
        }

        &--psg-goles-img{
            background-image: url(../imagenes/messigolespsg.jpg);
        }
    }
    /* HERO SELECCION */
    .hero{
        &--seleccion{
            background-image: linear-gradient(
             0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            ),
             url(../imagenes/messiseleccionmenu.png);
        }
    }
    /* CARDS SELECCION */
    .card{
        &--seleccion-titulos-img{
            background-image: url(../imagenes/messibesocopa.png);
        }

        &--seleccion-partidos-img{
            background-image: url(../imagenes/lionel-messi-copa-mundial-fifa_3840x2160_xtrafondos.com.jpg);
        }

        &--seleccion{
            background-color: $color-background-card;
        }

        &--seleccion-goles-img{
            background-image: url(../imagenes/messicopamundo.png);
        }
    }
    /* FORMULARIO CONTACTO */
    .formulario{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
         )
        ,url(../imagenes/menu-contacto.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 100vh;
    }


    .form{
        @include sizes (90%, auto);
        position: relative;
        top: 150px;
        background-color: $color-footer;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        padding: 3em 1.5em;

        &__container{
            @include sizes (100%, auto);
            margin: auto;
            display: grid;
            gap: 1rem;
            grid-auto-columns: 100%;
        }

        &__tittle{
            @include font (30px , bold);
            text-align: center;
            margin-bottom: 0.4rem;
        }
        
        &__input{
            @include font (16px , bold);
            padding: 0.8em 1em;
            outline: none;
            border: none;
            border: 1px solid $color-borde-form;
            border-radius: 0.2em;
        }

        &__input--message{
            resize: none;
            padding: 1.8em 1em;
            margin-bottom: 0.5em;
        }

        &__cta{
            @include font (16px , bold);
            background-color: $color-boton-form;
            color: #fff;
            border: none;
            padding: 0.7em 0;
            border-radius: 0.2em;
            cursor: pointer;
            transition: 1s all;
        }

        &__cta:hover{
            background-color: $color-boton-hover;
            transform: scale(1.04);
        }
    }

/* RESPONSIVE DESIGN TABLET*/

@media (min-width: 701px) and (max-width: 1000px) {
    .galeria__imagenes{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 10px 20px;
        margin-bottom: 50px;
    }

    .card{
        &__container{
            @include flexible ( flex , center , column , center);
            padding: 100px ;
        }

        &__textos{
            @include flexible ( flex , center , column , center);
            @include sizes (100%, auto);
            text-align: center;
            margin: 0 50px;
        }

        &__img{
            @include sizes (550px, 400px);
            background-image: url(../imagenes/messi.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin: 50px 0;
        }
        &--barca-partidos-img{
            background-image: url(../imagenes/crack.png)
        }

        &--barca-goles-img{
            background-image: url(../imagenes/messigoles.png);
        }

        &--psg-titulos-img{
            background-image: url(../imagenes/messititulospsg.png);
        }

        &--psg-partidos-img{
            background-image: url(../imagenes/partidosmessipsg.png);
        }

        &--psg-goles-img{
            background-image: url(../imagenes/messigolespsg.jpg);
        }

        &--seleccion-titulos-img{
            background-image: url(../imagenes/messibesocopa.png);
        }

        &--seleccion-partidos-img{
            background-image: url(../imagenes/lionel-messi-copa-mundial-fifa_3840x2160_xtrafondos.com.jpg);
        }

        &--seleccion-goles-img{
            background-image: url(../imagenes/messicopamundo.png);
        }
    }
}

/* RESPONSIVE DESIGN MOBILE */

@media (max-width: 700px){
    .hero{
        &__container{
            @include flexible ( flex , center , column , center);
            @include sizes (100%, 100vh);
            text-align: center;
            background-image: linear-gradient(
                0deg,
             rgba(0,0,0,0.5),
             rgba(0,0,0,0.5)
            )
            , url(../imagenes/messifoto.jpg);
            background-size: cover;
            background-position: center center;
            }

        &__titulo{
            @include sizes (30%, auto);
            @include font (35px , bold);
            color: $color-textos;
            margin: 30px 0;
            padding-top: 60px
        }

        &__parrafo{
            @include sizes (90%, 50%);
            @include font (15px , bold);
            color: $color-textos;
            margin: 0 30px
        }
    }

    .galeria{
        &__titulo{
            @include font (25px , 200);
            margin: 20px auto;  
        }

        &__imagenes{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            gap: 10px 20px;
            margin-bottom: 50px;
        }

        &__foto{
            @include sizes (250px, 200px);
        }

        &__foto:hover{
            transform: scale(1.02);
            transition-duration: 0.8s;
            box-shadow:  0 0 0 3px $color-primario
        }
    }

    .hero{
        &--barcelona{
            @include sizes (auto, 90vh);
            background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            )
            ,url(../imagenes/escudobarca.jpg);
            background-position: center center;
        }

        &--titulo{
            @include sizes (100%, auto);
            @include font (20px , 200);
            font-family: 'IBM Plex Mono', monospace;
        }
    }

    .card{
        &__container{
            padding: 30px ;
        }

        &__textos{
            @include sizes (100%, auto);
            margin: 0 20px;
        }

        &__titulo{
            @include font (30px , bold);
            color: $color-primario;
        }

        &__parrafo{
            @include font (15px , bold);
        }
    }

    .titulos__barcelona{
        @include font (15px , bold);
    }

    .card--barca{
        background-color: $color-background-card;
    }

    .hero--psg{
        @include sizes (auto, 90vh);
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../imagenes/escudopsg.jpg);
        background-position: center center; 
    }

    .card{
        &--psg{
            background-color: $color-background-card;
        }

        &--parrafo-blanco{
            @include sizes (100%, auto);
            @include font (15px , bold);
            color: $color-textos;
        }
    }

    .hero--seleccion{
        @include sizes (auto, 90vh);
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../imagenes/escudoseleccion.jpg);
        background-position: center center; 
    }

    .card{
        &--seleccion{
            background-color:$color-background-card;
        }

        &__img{
            display: none;
        }
    }
}

